<div class="mainHeader" flex>
    <div layout layout-align="center end">
        <div class="logo" flex="10">
            <span>{{vm.header}} |</span>
        </div>
        <div class="menu" flex>
            <a ui-sref="main-default.home">
                <span ng-class="{'selected':vm.state==='home'}">My Todo's</span>
            </a>
            <a ui-sref="main-default.user">
                <span ng-class="{'selected': vm.state==='user'||vm.state==='admin'}">My Account</span>
            </a>
        </div>
        <div class="user" flex="20">
            {{vm.user.firstName}} {{vm.user.lastName}}

            <i class="fa fa-cog" aria-label="hidden" ng-click="vm.admin()" ng-show="vm.user.role.id===1"></i>
            <i class="fa fa-sign-out" aria-label="hidden" ng-click="vm.logout()" ng-show="vm.user"></i>
        </div>
    </div>
</div>
<div class="subHeader" flex>
    <div layout>
        <div class="subMenu" flex>
            <div ng-show="vm.state==='home'">
                <a href="" ng-click="vm.loadTodo('all')" ng-class="{'subSelected':vm.subSelected==='all'}">
                    <span>All</span>
                </a>
                <a href="" ng-click="vm.loadTodo('pending')" ng-class="{'subSelected':vm.subSelected==='pending'}">
                    <span>Pending</span>
                </a>
                <a href="" ng-click="vm.loadTodo('done')" ng-class="{'subSelected':vm.subSelected==='done'}">
                    <span>Done</span>
                </a>
            </div>
            <div ng-show="vm.state==='user'||vm.state==='admin'">
                <a ui-sref="main-default.user" ng-class="{'subSelected': vm.state==='user'}">
                    <span>Profile</span>
                </a>
                <a ui-sref="main-default.admin" ng-show="vm.user.role.id===1" ng-class="{'subSelected': vm.state==='admin'}">
                    <span>Admin</span>
                </a>
            </div>

        </div>
    </div>
    <div class="syncing">

    </div>
</div>
