<div class="mainHeader" flex>
    <div layout layout-align="center end">
        <div class="logo" flex="10">
          <span>{{vm.header}} |</span>
        </div>
        <div class="menu" flex>
            <a ng-repeat="menu in vm.menus" ui-sref="{{menu.sref}}"  ui-sref-active="active"
            ng-click="vm.switchView(menu.title)">
                <span ng-class="">{{menu.title}}</span>
            </a>
        </div>
        <div class="user" flex>
            {{vm.user.firstName}} {{vm.user.lastName}}
        </div>
    </div>
</div>
<div class="subHeader" flex>
    <div layout>
        <div class="subMenu" flex>
          <a href="#" ng-repeat="submenu in vm.selected.subs">
            <span>{{submenu}}</span>
          </a>
        </div>
    </div>
</div>
