.sidebar{
  height:94vh;
  // background: gray;
  border-right: 5px solid #7E9874;
}

.addNote{
  display: block;
  color: #7E9874;
  font-size:100px;
}

#header{
  height:20;
  align-content: #f0f0f0;
}
div{
}
