<div flex class="login" layout layout-align="center center">
    <div class="loginBox" flex="40" layout="column" layout-align="center center">
        <div class="inputBox">
            <span>Login to view you Tasks</span>
        </div>
            <div class="inputBox">
                <input type="text" placeholder="username" name="name" size="20">
            </div>
        <div class="inputBox">
            <input class="password" type="password" placeholder="password" name="name" size="20">
        </div>
        <div class="inputBox">
            <input class="submitBtn" type="submit" placeholder="password" name="name" value="login">
        </div>
    </div>
</div>
