<div flex class="login" layout layout-align="center center">
    <div class="loginBox" flex="40" layout="column" ng-show="!vm.processing" layout-align="center center">
        <div class="title">
            Tasker |
        </div>
        <div class="inputBox topInputBox">
            <span ng-show="!vm.registrationMode">
                Login to view you tasks or
                <span class="register" ng-click="vm.registrationMode=true">
                    click to register.
                </span>
            </span>
            <span ng-show="vm.registrationMode">
                Already a member?
                <span class="register" ng-click="vm.registrationMode=false">
                    Login
                </span> now
            </span>
            <div class="regSuccesful" ng-show="vm.regSuccesful">
                Registration succesfull. You can now login
            </div>
        </div>
        <form ng-submit="vm.login()">
            <div class="inputBox" ng-show="vm.registrationMode">
                <input type="text" placeholder="First name" ng-model="vm.firstName" required>
            </div>
            <div class="inputBox" ng-show="vm.registrationMode">
                <input type="text" placeholder="Last Name" ng-model="vm.lastName" required>
            </div>
            <div class="inputBox">
                <input type="email" placeholder="email" ng-model="vm.email" required>
            </div>
            <div class="inputBox">
                <input type="password" placeholder="password" ng-model="vm.password" required>
            </div>
            <div class="inputBox" ng-show="vm.registrationMode">
                <input type="password" placeholder="verify password" ng-model="vm.vpassword" required>
            </div>
        </form>
        <div class="inputBox" ng-show="vm.registrationMode">
            <button class="submitBtn" ng-click="vm.register()">register</button>
        </div>
        <div class="inputBox" ng-show="!vm.registrationMode">
            <button class="submitBtn" ng-click="vm.login()">login</button>
        </div>
        <div class="messages">
            {{vm.errors}}
        </div>
    </div>
    <div class="loginBox" flex="40" layout="column" layout-align="center center" ng-show="vm.processing">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <div class="loadMessage">
            {{vm.message}}
        </div>
    </div>
</div>